<nav class="navbar fs-smaller navbar-expand-lg bg-red darker" data-bs-theme="dark">
  <div class="container-fluid">



    <button class="ms-auto navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


  </div>

</nav>
<header class="bg-red shadow-lg pt-1 position-relative" >
  <div class="row mt-4">
    <div class="col-auto mx-auto">
      <img src="img/logo.png" style="max-height: 10vh">
    </div>
  </div>
  <div class="row mt-4">
    <!-- <div class="col-auto mx-auto text-center">
      <span class="slogan bg-red text-light fw-bold text-uppercase">Firma per un salario minimo di 10€ l'ora</span>
    </div> -->
  </div>
  <div class="row mt-3 mb-4">
    <div class="col-auto mx-auto">
      <h1 class="text-center text-light fw-bold"> {{page.title}}</h1>
    </div>
  </div>
  <a class="navbar-brand position-absolute my-auto" href="#">
    <img src="{{site.url}}/img/prclogo.png" alt="Rifondazione Comunista">
  </a>
</header>